<div class="auth-container">

    @switch (step) {
        @case ('request') {
            <form (submit)="sendOTP()" class="auth-form">
                <p class="auth-subtitle">Inserisci la tua email per ricevere il codice di recupero.</p>
                <div class="input-group">
                    <label>Indirizzo Email</label>
                    <input [(ngModel)]="email" name="email" type="email" placeholder="nome@esempio.com" class="input" required>
                </div>
                <button type="submit" class="btn btn-primary btn-full" [disabled]="isSubmitting">
                    {{ isSubmitting ? 'Invio in corso...' : 'Invia Codice' }}
                </button>
            </form>
        }
        
        @case ('verify') {
            <div class="auth-form">
                <p class="auth-subtitle">Abbiamo inviato un codice a 6 cifre alla tua email. Inseriscilo qui sotto.</p>
                
                <div class="input-group">
                    <label>Codice OTP</label>
                    <input [(ngModel)]="otp" placeholder="000000" class="input" maxlength="6">
                </div>
                
                <div class="input-group mt-15">
                    <label>Nuova Password</label>
                    <input type="password" [(ngModel)]="newPassword" placeholder="••••••••" class="input">
                </div>
                
                <div class="input-group mt-10">
                    <label>Conferma Password</label>
                    <input type="password" [(ngModel)]="confirmPassword" placeholder="••••••••" class="input">
                </div>
                
                <button class="btn btn-primary btn-full mt-15" (click)="verifyAndReset()" [disabled]="newPassword !== confirmPassword || !newPassword">
                    {{ isSubmitting ? 'Verifica in corso...' : 'Cambia Password' }}
                </button>
            </div>
        }

        @case ('success') {
            <div class="success-message-container">
                <h2 class="success-title">Password aggiornata!</h2>
                <p style="margin-bottom: 30px" class="success-description">La tua nuova password è operativa. Puoi procedere al login.</p>
                <a routerLink="/auth/login" class="btn btn-primary btn-full mt-20">Vai al Login</a>
            </div>
        }
    }
</div>